@page "/cart"
@using System.Globalization
@inject CartService CartService

<h1>Your Cart</h1>

@if (CartItems.Count == 0)
{
        <p>Your cart is empty.</p>
}
else
{
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in CartItems)
            {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Price.ToString("C", CultureInfo.CurrentCulture)</td>
                            <td>
                                <button class="btn btn-danger" @onclick="(() => RemoveFromCart(item))">Remove</button>
                            </td>
                        </tr>
            }
            </tbody>
        </table>
}

@code {
    private List<Product> CartItems { get; set; }

    protected override void OnInitialized()
    {
        CartItems = CartService.GetCartItems().ToList();
    }

    private void RemoveFromCart(Product product)
    {
        CartItems.Remove(product);
        CartService.RemoveFromCart(product);
        StateHasChanged();
    }
}
