@page
@using eShop_RazorPages.Areas.Admin.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_AdminLayout";
}

<h1>Admin Dashboard</h1>
<p>Welcome to the admin dashboard!</p>
