@page
@model eShop_RazorPages.Areas.Admin.Pages.LoginModel
@{
    ViewData["Title"] = "Admin Login";
}

<div class="container-fluid bg-light py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    <h3 class="mb-0">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/Admin/Login">
                        <div class="form-group">
                            <label for="Input_Email">Email:</label>
                            <input asp-for="Input.Email" class="form-control" id="Input_Email" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Input_Password">Password:</label>
                            <input asp-for="Input.Password" class="form-control" id="Input_Password" type="password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="rememberMe" asp-for="Input.RememberMe" />
                                <label class="custom-control-label" for="rememberMe">Remember Me</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        border-radius: 10px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }

    .card-title {
        font-size: 24px;
        font-weight: 600;
    }

    .form-label {
        font-size: 16px;
        font-weight: 600;
    }

    .form-control {
        border-radius: 5px;
        box-shadow: none;
        border-color: #d9d9d9;
    }

        .form-control:focus {
            box-shadow: none;
            border-color: #007bff;
        }

    .form-check-input {
        margin-right: 5px;
    }
</style>
