@page
@using eShop_RazorPages.Areas.Admin.Pages;
@model ProductsModel
@{
    ViewData["Title"] = "Product Management";
    Layout = "_AdminLayout";
}

<h1>Product Management</h1>
<p>Here, you can manage products and their categories.</p>
