@page
@using eShop_RazorPages.Areas.Admin.Pages;
@model UsersModel
@{
    ViewData["Title"] = "User Management";
    Layout = "_AdminLayout";
}

<h1>User Management</h1>
<p>Here, you can manage users and their roles.</p>
