@page
@model EditUserModel
@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>

<form method="post">
    <input type="hidden" asp-for="Customer.CustomerId" />
    <div class="form-group">
        <label asp-for="Customer.FirstName"></label>
        <input asp-for="Customer.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Customer.LastName"></label>
        <input asp-for="Customer.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Customer.Email"></label>
        <input asp-for="Customer.Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Customer.PhoneNumber"></label>
        <input asp-for="Customer.PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Customer.ShippingAddress"></label>
        <input asp-for="Customer.ShippingAddress" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Users" class="btn btn-secondary">Cancel</a>
</form>
